---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="container">
		
	</div>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(/images/slide_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-8 col-md-offset-0 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h1><font color="#FFFFFF">IP NETWORKS te ofrece infinitas posibilidades de comunicación</font></h1>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(/images/slide_2.jpg);">
		   		<div class="container">
		   			<div class="col-md-8 col-md-offset-0 text-left js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h1><font color="#FFFFFF">Una plataforma flexible, sin grandes costes de mantenimiento.</font></h1>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(/images/slide_3.jpg);">
		   		<div class="container">
		   			<div class="col-md-8 col-md-offset-0 text-left js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h1><font color="#FFFFFF">Mucho más, que simple telefonía</font></h1>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
    
    
    <div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center fh5co-heading animate-box">
					<h2><font color="#d7d830">IP NETWORKS</font></h2>
					<p>IP Networks preocupada siempre por estar a la vanguardia de la tecnología y por mantener un constante crecimiento en el desarrollo de las aplicaciones, ofrece a sus clientes una gran variedad de productos respaldados y certificados directamente por los fabricantes, permitiendo instalaciones y servicios de alta calidad, así como una alta experiencia en proyectos integrales llave en mano. <br><br>

Por esta razón estamos plenamente convencidos de que somos su mejor alternativa para ayudarlo a lograr que todos sus objetivos trazados sean alcanzados en corto y mediano plazo de una manera óptima y buscando siempre ofrecer a nuestros clientes el mejor retorno de inversión.  
 </p>
				</div>
			</div>
			
		</div>
	</div>
    
    
	
	<div id="fh5co-work-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2><font color="#d7d830">Soluciones</font></h2>
					<p>Conoce los beneficios que traemos para tí. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<a href="/soluciones.html" class="item-grid text-center">
						<div class="image" style="background-image: url(/images/image_1.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Central de Datos</h3>
								<h5 class="category"><!--Ver Más--></h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="soluciones.html" class="item-grid text-center">
						<div class="image" style="background-image: url(/images/image_2.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Edificios sustentables</h3>
								<h5 class="category"><!--Ver más--></h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="soluciones.html" class="item-grid text-center">
						<div class="image" style="background-image: url(/images/image_3.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Soluciones en Tendencia</h3>
								<h5 class="category"><!--Ver mas--></h5>
							</div>
						</div>
					</a>
				</div>
				
		  </div>
		</div>
	</div>
    
    
    <div class="fh5co-cta" style="background-image: url(/images/slide_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>Llámanos al (55) 7316-4000 y vive la experiencia</h3>
				
			</div>
		</div>
	</div>
    
</Layout>