---
import Layout from "../layouts/Layout.astro";
---
<Layout>
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider ">
        <ul class="slides">
           <li style="background-image: url(/images/slide_nosotros.jpg);">
               <div class="overlay-gradient"></div>
               <div class="container">
                   <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                       <div class="slider-text-inner">
                           <h2>IP NETWORKS</h2>
                           <p class="fh5co-lead">preocupada siempre por estar a la vanguardia de la tecnología </p>
                       </div>
                   </div>
               </div>
           </li>
          </ul>
      </div>
</aside>

<div class="fh5co-about animate-box">
    <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
        <h2><font color="#d7d830">IP NETWORKS</font></h2>
                <p>IP Networks preocupada siempre por estar a la vanguardia de la tecnología y por mantener un constante crecimiento en el desarrollo de las aplicaciones, ofrece a sus clientes una gran variedad de productos respaldados y certificados directamente por los fabricantes, permitiendo instalaciones y servicios de alta calidad, así como una alta experiencia en proyectos integrales llave en mano. <br><br>

Por esta razón estamos plenamente convencidos de que somos su mejor alternativa para ayudarlo a lograr que todos sus objetivos trazados sean alcanzados en corto y mediano plazo de una manera óptima y buscando siempre ofrecer a nuestros clientes el mejor retorno de inversión. </p>
    </div>	
    
</div>



<div class="fh5co-team fh5co-light-grey-section">
    <div class="container">
        
            <div class="row">
                
                <div class="col-md-4 fh5co-staff text-center animate-box">
                    <h3><font color="#d7d830">Misión</font></h3>
                    <img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                    
                    <p>Nuestra misión es cumplir ampliamente con las necesidades de nuestros clientes y superar sus expectativas a largo plazo, asegurando una alta calidad en las instalaciones, programaciones y personalización, de nuestro amplio portafolio de productos IP para Voz, Datos y Video y manteniendo un alto nivel de cumplimento con garantías en los servicios post venta. </p>
                    
                </div>
                <div class="col-md-4 fh5co-staff text-center animate-box">
                    <h3><font color="#d7d830">Visión</font></h3>
                    <img src="images/person2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                    
                    <p>Mantener el liderazgo en la implementación de soluciones convergentes IP para Voz, Datos y Video en los mercados cambiantes y exigentes en todo el territorio mexicano. Enfocando nuestros recursos intelectuales al ofrecer equipos de telecomunicaciones altamente especializados a través de las mejores marcas internacionales y manteniendo la excelencia de nuestros servicios.</p>
                    
                </div>
                <div class="col-md-4 fh5co-staff text-center animate-box">
                    <h3><font color="#d7d830">Objetivos</font></h3>
                    <img src="images/person3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
                    
                    <p>Satisfacer las necesidades de nuestros clientes y superar sus expectativas cumpliendo con los estándares de calidad en los productos, instalaciones y servicios de los sistemas integrales de Telecomunicaciones, bajo las normas y procedimientos de certificación autorizados.</p>
                    
                </div>
            </div>
    </div>
</div>


<div class="fh5co-cta" style="background-image: url(/images/slide_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12 text-center animate-box">
            <h3>Llámanos al (55) 7316-4000 y vive la experiencia</h3>
            
        </div>
    </div>
</div>
</Layout>
