---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider ">
			<ul class="slides">
		   	<li style="background-image: url(/images/slide_soluciones.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Soluciones</h2>
		   					<p class="fh5co-lead">Centro de Datos y Edificios Sustentables</p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
    
    
    <div class="fh5co-about animate-box">
		<div class="container">
	    <div class="col-md-4 animate-box">
				<figure>
					<img src="/images/image_1.jpg" alt="Free HTML5 Template" class="img-responsive">
		  </figure>
			</div>
			<div class="col-md-8 animate-box">
				<h3><font color="#d7d830">Central de Datos y Contacto</font></h3>
				<div class="col-md-6 animate-box">
                - ARQUITECTURA Construcción<br>
                - ENERGIA Subestaciones<br>
                - Plantas Generadoras<br>
                - UPS<br>
                - Distribución<br>
                - Medición<br>
                - ENFRIAMIENTO AC precisión<br>
                
                </div>
                <div class="col-md-6 animate-box">
                - Líquido<br>
                - SEGURIDAD CCTV<br>
                - Acceso<br>
                - Perímetro, etc.<br>
                - PROTECCION Detección y Supresión de Incendio<br>
                - STI Gabinetes y Racks Canalización Cableado Estructurado para CD (10 Gigabits)<br>
                - Conectividad (Routers, Switches, etc.) Monitoreo
                </div>
                
			</div>
		</div>
	</div>
    
    
    
    
    <div class="fh5co-about animate-box">
		<div class="container">
	    
			<div class="col-md-8 animate-box">
				<h3><font color="#d7d830">Edificios sustentables de alto desempeño tecnológico.</font></h3>
				<div class="col-md-6 animate-box">
                - Sistema de Transporte de Información <br>
                - Cableado estructurado <br>
                - Canalizaciones y espacios de telecomunicación <br>
                
                </div>
                <div class="col-md-6 animate-box">
                - Torres y Antenas<br>
                - Puesta a Tierra de Telecomunicaciones <br>
                - Conectividad  (modems, gateways, VoIP, Switches, routers, PoE)
                - Monitoreo de capa física y lógica
                </div>
                
			</div>
            
            <div class="col-md-4 animate-box">
				<figure>
					<img src="/images/image_2.jpg" alt="Free HTML5 Template" class="img-responsive">
		  </figure>
			</div>
		</div>
	</div>
   
    
    
    
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center fh5co-heading animate-box">
					<h2><font color="#d7d830">Soluciones en Tendencia</font></h2><bR>

<h3><font color="#d7d830">TELEFONÍA EN LA NUBBE</font></h3>
					<p>Del servicio de Telefonía IP de en la nube hace de puente entre Internet y la red tradicional de telefonía, llegando la llamada al destinatario como si fuese una llamada normal a través de su teléfono. Con llamadas realizadas a través de Internet se reduce notablemente los costes en los servicios de voz hasta un 50% en las llamadas nacionales e internacionales.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-phone"></i>
						<div class="desc">
							<h3>Línea telefónica IP</h3>
							<p>Desde la línea de telefonía IP, podrá realizar llamadas beneficiándose de las características propias de ésta tecnología.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-tablet"></i>
						<div class="desc">
							<h3>Multidispositivos</h3>
							<p>El panel de control adaptativo le ayudara a gestionar sus servicios desde cualquier dispositivo, portátil, tablet, móvil, adaptándose a tu pantalla.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-phone"></i>
						<div class="desc">
							<h3>Llamadas Gratuitas</h3>
							<p>Con una línea de telefonía IP de NUBBE le permitirá llamar de forma gratuita a otros, simplemente marcando su numero</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-tablet"></i>
						<div class="desc">
							<h3>Llamadas Simultaneas</h3>
							<p>Existe la posibilidad realizar varias llamadas de forma simultanea, sin necesidad de esperar a que la línea quede libre</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-shield"></i>
						<div class="desc">
							<h3>Seguridad</h3>
							<p>Seguridad en tus llamadas, usa el servicio solo desde una IP autorizada.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-line-chart"></i>
						<div class="desc">
							<h3>Gestion Web</h3>
							<p>Gestión vía web en tiempo real.<br> <font color="#FFFFFF">.</font></p>
						</div>
					</div>
				</div>
                
                
                <div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-book"></i>
						<div class="desc">
							<h3>Manuales de Ayuda</h3>
							<p>Para la autoconfiguración en distintos softphones y dispositivos VoIP.</p>
						</div>
					</div>
				</div>
                
                <div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-megaphone"></i>
						<div class="desc">
							<h3>Audio</h3>
							<p>Calidad de audio superior a la telefonía tradicional y a un precio mucho menor.</p>
						</div>
					</div>
				</div>
                
			</div>
		</div>
	</div>
    

	<div class="fh5co-cta" style="background-image: url(images/slide_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>Llámanos al (55) 7316-4000 y vive la experiencia</h3>
				
			</div>
		</div>
	</div>

</Layout>