---
import Layout from "../layouts/Layout.astro";
---
<Layout>

	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider ">
			<ul class="slides">
		   	<li style="background-image: url(images/slide_valores.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>IP NETWORKS</h2>
		   					<p class="fh5co-lead">preocupada siempre por estar a la vanguardia de la tecnología </p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	
	
    <div id="fh5co-services-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2><font color="#d7d830">Valores Agrregados</font></h2>
					<p>Somos una compañía sólida en constante crecimiento con el respaldo directamente de los fabricantes e ingenieros altamente capacitados y certificados. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-check"></i>
						<div class="desc">
							<p>Contamos con una amplia experiencia en instalaciones y servicios pues en los últimos 2 años IP NETWORKS ha crecido su base instalada sustancialmente a través de contratos de mantenimiento correctivo y preventivo en el sector privado y público a nivel nacional.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-check"></i>
						<div class="desc">
							<p>Una amplia experiencia en logística de almacenes para el manejo de embarques expeditos en los cumplimientos por contrato de entrega de equipos y stock de refacciones a nivel nacional en México, garantizándole a nuestros clientes instalaciones y servicios con prontitud, calidad y eficiencia hasta donde lo demande la necesidad del sitio final.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-check"></i>
						<div class="desc">
							<p>Compromisos de servicios post venta a través de contratos de mantenimiento preventivos y correctivos con ó sin refacciones, soporte remoto vía telefónica o en sitio con ingenieros calificados y certificados a través de nuestro data center ( lada sin costo 01-(55)- 8000-7024. </p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-check"></i>
						<div class="desc">
							<p>Alta experiencia en el desarrollo de proyectos para Telefonía IP, ACD/IVR, CTI, Redes LAN / WAN de Datos, Cableados Estructurados, Ruteadores, VPN/Firewalls, Etc.<br><br></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
						<i class="icon-check"></i>
						<div class="desc">
							<p>El manejo de infraestructuras de telecomunicaciones en las edificaciones sustentables "VERDES"; que hoy día requieren de alternativas que permitan asegurar el uso racional de los recursos energéticos.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="services">
                    <i class="icon-check"></i>
						<div class="desc">
							<p>Soluciones de "Comunicaciones Unificadas Avanzadas" ofreciendo a nuestros clientes alta funcionalidad a través de Servicios móviles a través de la nube tales como: chat, call in/out, historial de llamadas, integración con buzón de voz, dynamic status, launchpad, integración con calendario de correo electrónico, videollamada, colaboración, presencia. Todas las aplicaciones cuentan con encripción embebida y habilitada, con la capacidad de guardar las sesiones establecidas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="fh5co-cta" style="background-image: url(images/slide_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>We Try To Update The Site Everyday</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>

</Layout>