---
import HeadCode from './HeadCode.astro'
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        <HeadCode />
	</head>

    <div id="fh5co-page">
    <header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<a href="/"><img src="/images/logo.jpg"></a>
				<nav role="navigation">
					<ul>
						<li><a href="/nosotros.html">IP Networks</a></li>
						<li><a href="/soluciones.html">Soluciones</a></li>
                        <li><a href="/valores-agregados.html">Valores Agregados</a></li>
					
                        
						<li class="cta"><a href="/contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>